.main-bar {
    margin-top: 60px; 
}

.main-bar > span {
    font-size: 2rem;
    font-weight: 600;
}

.main-bar > .my-img > a > img {
    display: block;
    width: 300px;
    margin-top: 30px;
}

@media (max-width:799px) {
    .main-bar > .my-img > a > img {
        width: 150px;
    }
}

.main-bar > .profile-bar {
    margin-top: 50px;
} 

.main-bar .profile-bar > .profile-list {
    padding-left: 80px;
}

.main-bar .profile-bar > .profile-list > div:first-child {
    margin-top: 10px;
}

.main-bar .profile-bar > .profile-list > div {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 600;
}

.title-list {
    margin: 170px auto;
}

.menu {
    margin: 0 auto;
    text-align: center;
}

.title-list > .title {
    font-size: 40px;
    color: rgb(146, 17, 146);
    text-align: center;
}
.title-list > .name {
    margin-top: 20px;
    text-align: center;
}
.title-list > .date {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: rgb(182, 182, 182);
    margin-bottom: 50px;
}

.comment {
    border: 1px solid #c4c4c4;
    margin: 0 auto;
}

.comment > .comment-name > span {
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #c4c4c4;
}

.comment > .comment-viewer > span {
    display: block;
    padding: 60px 0;
    border-bottom: 1px solid #c4c4c4;
}

.comment > .comment-write {
    display: block;
    padding: 80px 0;
    border-bottom: 1px solid #c4c4c4;
    background-color: #9e9e9e;
}

.comment > .comment-write > span {
    display: block;
    background-color: white;
}

/* daily life */
.main-daily-life-title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 80px;

}

.daily-menu {
    margin-top: 50px;
}
.daily-menu > ul > li {
    margin: 0 50px;
}

/* self-development */
.main-self-development-title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 80px;

}

.self-development-menu {
    margin-top: 50px;
}
.self-development-menu > ul > li {
    margin: 0 50px;
}

/* 주요 소식 시작 */
.recentStories {
    margin-top: 30px;
    margin-bottom: 100px;
}

.main-title {
    font-size: 35px;
    font-weight: 600;
}

.recentStories > .story-list {
    width: 100%;
    justify-content: space-between;
    margin: 0 20px;
}

.recentStories .story-list .story {
    position: relative;
    padding-bottom: 180px;
    width: 100%;
    margin: 10px 20px;
}

.recentStories .story-list .story:nth-child(4) {
    margin-right: 0;
}

.recentStories .story-list .story>.issue-1 {
    position: absolute;
    left: 0;
    bottom: 35%;
    width: 100%;
}

.recentStories .story-list .story>.issue-1>a:nth-child(1) {
    background-color: rgb(122, 57, 122);
    color: white;
    font-size: 16px;
    padding: 0 5px;
}

.recentStories .story-list .story>.issue-1>a:nth-child(2) {
    right: 0;
    position: absolute;
    font-size: 12px;
    line-height: 22px;
    color: rgb(177, 177, 177);
}

.recentStories .story-list .story>.issue-2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.recentStories .story-list .story>.issue-2>a:nth-child(1) {
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin-bottom: 20px;
}

.recentStories .story-list .story>.issue-2>a:nth-child(2) {
    display: block;
    color: #555555;
    font-size: 15px;
}

.more-content {
    text-align: center;
    margin-bottom: 200px;
}

.more-content > .content >h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 50px;
}
.more-content > .click {
    display: inline-block;
}
.more-content > .click > a {
    border: 3px solid purple;
    font-size: 30px;
    padding: 15px 50px;
}

.more-content > .click:hover > a {
    background-color: purple;
    display: inline;
    color: white;
    border: 3px solid white;
}

/* 주요 소식 끝 */

/* 그리드 시작 */
.grid > ul > li > a {
    display:block;
}

.grid > ul > li > a > img {
    display:block;
    width:100%;
}

.grid > ul > li {
    width:20%;
    box-sizing:border-box;
    padding:0 10px 20px 10px;
}

@media ( max-width:1000px ) {
    .grid > ul > li {
        width:33.3333%;
    }
}

@media ( max-width:700px ) {
    .grid > ul > li {
        width:50%;
    }
}

@media ( max-width:500px ) {
    .grid > ul > li {
        width:100%;
    }
}
/* 그리드 끝 */

/* 아티클 시작 */
.main-title {
    margin-top: 130px; 
}
.main-title > h1 {
    display: block;
    text-align: center;
    font-size: 3.5rem;
}

.text-list {
    margin-top: 80px;
}

.text-list > .inner {
    border: 1px solid #c4c4c4;
    padding: 30px 10px;
    margin-top: 40px;
    position: relative;
    

}

.text-list > .inner > .inner-2 {
    flex-direction: column;
    margin-left: 20px;
}

.text-list > .inner > .inner-2 > .title {
    font-size: 1.0rem;
    
}

.text-list > .inner > .inner-2 >.summary {
    margin: 30px 0;
    margin-right: 200px;
    font-size: 22px;
}

.text-list > .inner > .inner-2 > .date {
    margin-top: 10px;
    color: #c4c4c4;
}

.text-list > .inner > .title-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    width: 300px;

}
.text-list > .inner > .title-img > a > img {
    width: 140px;   

}

/* 포트폴리오 사이트 */
.main-logo-1 {
    border: 2px solid orange;
    display: block;
    text-align: center;
}
.main-logo-1>img {
    width: 70px;
}

.sub-menu {
    display: none;
}

.scroll-top-0-up .sub-menu {
    display: block;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border: 1px solid red;
    padding: 20px;
}

.sub-menu > ul {
    display: none;
}

.sub-menu:hover > ul {
    display: block;
}

.title {
    position: relative;
    height: 100%;
    margin-top: 40px;
    z-index: 10;
}
.title-list-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    background: linear-gradient( to right, #ff3c00, rgb(219, 0, 248) );
    opacity: 0.6;
    height: 50%;
}

.title-list-1 > .inner {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 490px;
}

.title-list-1 > .inner > .txt-list {
    margin-left: 50px;
    color: white;
    font-weight: 100;
}

.title-list-1 > .inner > .txt-list > span {
    display: block;
}

.title-list-1 > .inner > .txt-list-1 > span {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 14px;
    border-bottom: 2px solid white;
    margin-top: 40px;
}

.title-list-1 > .inner > .txt-list-2 > span:nth-child(1) {
    font-size: 18px;
    margin-top: 100px;
}

.title-list-1 > .inner > .txt-list-2 > span:nth-child(2) {
    font-size: 55px; 
    font-weight: 700;
    margin-top: 20px;   
}

.title-list-1 > .inner > .txt-list-2 > span:nth-child(3) {
    display: inline-block;
    margin-top: 120px;
}

.up-down {
    animation-name: up-down; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-fill-mode: none;
    animation-delay: 2s;
	animation-fill-mode:forwards;
	}

@keyframes up-down {
    from {opacity:0;}
    to {opacity:1;}
}

.title-list-1 > .inner > .txt-list-2 > .fas {
    margin-left: 10px;
    animation:up-down 2s 1s infinite alternate;	
}

.content-1 {
    height: 1000px;
    margin-top: 30px;
}
 

.content-1 > .about-me > span {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
}

.content-1 > .about-me > .inner {
    color: white;
    opacity: 0.6;
    margin: 0 auto;
}

.content-1 > .about-me > .inner > span {
    display: inline-block;
    font-size: 60px;
    padding: 15px 40px;
    height: 100%;
    background: linear-gradient( to right, #ff3c00, rgb(219, 0, 248) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.content-1 > .profile > .img-box {
    margin-top: 40px;
}

.content-1 > .profile > .img-box > img {
    margin: 0 auto;
    width: 250px;
}

.content-1 > .profile > .profile-list > .inner {
    margin: 30px auto;
    width: 300px;
}

.content-1 > .profile > .profile-list > .inner > span {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #a4a4a4;
    margin-bottom: 10px;
    font-weight: 300;
}

.content-1 > .profile > .profile-list > .introduce-list {
    margin: 100px auto;
}

.content-1 > .profile > .profile-list > .introduce-list > div {
    border: 1px solid transparent;
    border-image: linear-gradient(190deg,  rgba(255, 119, 7, .3) 10%, rgba(219, 0, 248,0.8));
    border-image-slice: 1;
    width: 400px;
    padding-bottom: 30px;
    
}

.content-1 > .profile > .profile-list > .introduce-list > div:not(:nth-child(4)) {
    margin-right: 35px;
}

.content-1 > .profile > .profile-list > .introduce-list > div > span {
    display: block;
}

.content-1 > .profile > .profile-list > .introduce-list > div > span:nth-child(1) {
    text-align: center;
    background: linear-gradient( to right, #ff3c00, rgb(219, 0, 248) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content-1 > .profile > .profile-list > .introduce-list > div > span:nth-child(2) {
    text-align: center;
    width: 320px;
    margin: 0 auto;
    color: #7e7e7e;
}

/*content-2 시작*/


.content-2 > .about-me > span {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
}

.content-2 > .about-me > .inner {
    margin: 0 auto;
    opacity: 0.6;
    margin-top: 200px;
    margin-bottom: 50px;
}

.content-2 > .about-me > .inner > span {
    display: inline-block;
    font-size: 60px;
    height: 100%;
    background: linear-gradient( to right, #ff3c00, rgb(219, 0, 248) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-2 > .ability-list-1 {
    margin-top: 30px;
    position: relative;
}

.content-2 > .ability-list-1::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 15%;
    bottom: 0;
    width: -1px;
    height: 85%;
    margin-left: -1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #f3410b, rgb(219, 0, 248));
    border-image-slice: 1;
    opacity: 0.6;
    z-index: -10;
    }

.content-2 > .ability-list > .name {
    display: block;
    width: 220px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 22px;
}

.content-2 > .ability-list > .list {
    margin-bottom: 100px;
}
.content-2 > .ability-list > .list-1 {
    margin-top: 100px;
}
.content-2 > .ability-list > .list-4 {
    margin-top: 100px;
}

.content-2 > .ability-list > .list > span {
    display: block;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    background-color: white;
}
.content-2 > .ability-list > .list > div {
    margin-top: -60px;
    width: 620px;
    height: 110px;
    border: 1px solid transparent;
    border-image: linear-gradient(190deg,  rgba(255, 119, 7, .3) 10%, rgba(219, 0, 248,0.8));
    border-image-slice: 1;
}

.content-2 > .ability-list > .list-3 > div {
    height: 135px;
}

.content-2 > .ability-list > .list-4 > div {
    height: 135px;
}

.content-2 > .ability-list > .list > div > .inner {
    width: 600px;
    margin: 17px auto;
    padding-left: 10px;
}

.content-2 > .ability-list > .list > div > .inner > span:nth-child(1) {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.content-2 > .ability-list > .list > div > .inner > span:nth-child(2) {
    display: block;
    color: #696f74;
    font-weight: normal;
}

.content-2 > .ability-list > .list-2 > div {
    margin-top: -40px;
    width: 620px;
    margin-right: 0;
    margin-left: auto;
}

.content-2 > .ability-list > .list-3 > div {
    margin-top: -75px;
}

.content-2 > .ability-list-2 {
    margin-top: 150px;
    position: relative;
}

.content-2 > .ability-list-2::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 18%;
    bottom: 0;
    width: 2px;
    height: 83%;
    margin-left: -1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #f3410b, rgb(219, 0, 248));
    border-image-slice: 1;
    opacity: 0.6;
    z-index: -10;
    }

.content-2 > .ability-list > .list-4 > div {
    margin-right: 0;
    margin-left: auto;
}

.content-2 > .ability-list > .list-6 > div {
    margin-right: 0;
    margin-left: auto;
}


/*content-3 시작*/
.content-3 {
    height: 1000px;
}
.content-3 > .about-me > span {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
}

.content-3 > .about-me > .inner {
    margin: 0 auto;
    opacity: 0.6;
    margin-top: 200px;
    margin-bottom: 50px;
}

.content-3 > .about-me > .inner > span {
    display: inline-block;
    font-size: 60px;
    height: 100%;
    background: linear-gradient( to right, #ff3c00, rgb(219, 0, 248) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#css_tabs {
    font-family: 'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif
  }
  /* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
  
  #css_tabs input:nth-of-type(1),
  #css_tabs input:nth-of-type(1) ~ div:nth-of-type(1),
  #css_tabs input:nth-of-type(2),
  #css_tabs input:nth-of-type(2) ~ div:nth-of-type(2),
  #css_tabs input:nth-of-type(3),
  #css_tabs input:nth-of-type(3) ~ div:nth-of-type(3),
  #css_tabs input:nth-of-type(4),
  #css_tabs input:nth-of-type(4) ~ div:nth-of-type(4),
  #css_tabs input:nth-of-type(5),
  #css_tabs input:nth-of-type(5) ~ div:nth-of-type(5) {
    display: none
  }
  
  #css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1),
  #css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2),
  #css_tabs input:nth-of-type(3):checked ~ div:nth-of-type(3),
  #css_tabs input:nth-of-type(4):checked ~ div:nth-of-type(4),
  #css_tabs input:nth-of-type(5):checked ~ div:nth-of-type(5) {
    display: block
  }
  /* 라벨 기본 스타일 지정 */
  
  #css_tabs > label {
    display: inline-block;
    font-variant: small-caps;
    font-size: .9em;
    padding: 5px;
    text-align: center;
    width: 9%;
    line-height: 1.8em;
    font-weight: 700;
    border-radius: 3px 3px 0 0;
    color: #777;
    border: 1px solid #ccc;
    border-width: 1px;
    margin-right: 5px;
  }
  
  #css_tabs > label:hover {
    cursor: pointer
  }
  
  #css_tabs label[for=tab1] {
    margin-left: 400px;
  }
  /* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
  
  #css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1),
  #css_tabs > label[for=tab1]:hover {
    background: tomato;
    color: #fff
  }
  
  #css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2),
  #css_tabs > label[for=tab2]:hover {
    background: gold;
    color: #fff
  }
  
  #css_tabs input:nth-of-type(3):checked ~ label:nth-of-type(3),
  #css_tabs > label[for=tab3]:hover {
    background: green;
    color: #fff
  }
  
  #css_tabs input:nth-of-type(4):checked ~ label:nth-of-type(4),
  #css_tabs > label[for=tab4]:hover {
    background: orange;
    color: #fff
  }

  #css_tabs input:nth-of-type(5):checked ~ label:nth-of-type(5),
  #css_tabs > label[for=tab5]:hover {
    background: pink;
    color: #fff
  }
  
  /* 실제 내용이 담긴 div 요소 스타일 지정 */
  
  #css_tabs .tab1_content,
  #css_tabs .tab2_content,
  #css_tabs .tab3_content,
  #css_tabs .tab4_content,
  #css_tabs .tab5_content {
    padding: 2em;
    height: 100%
  }

  #css_tabs > .content > ul > .inner {
      margin: 0 auto;
      width:100%;
  }

  #css_tabs > .content > ul > .inner-1 {
      margin-top: 20px;
      margin-bottom: 25px;
}

  #css_tabs > .content > ul > .inner > li > a {
      display: block;
      width: 250px;
      height: 180px;
      margin: 0 auto;
      border: 1px solid #7e7e7e;
      
  }

  #css_tabs > .content > ul > .inner > li:nth-child(1) > a {
      margin-left: 40px;
  }

  #css_tabs > .content > ul > .inner > li > a:not(:nth-child(5)) {
      margin-right: 25px;
  }

  /* content-4 시작 */

.content-4 {
    height: 1000px;
}
.content-4 .img-box  {
    padding-top: 25px;
    padding-right: 12px;
    margin-left: 50px;
}
.content-4 .img-box > img {
    width: 400px;
}

.content-4 > .inner > .arrow-box {
    position: relative;
    border: 2px solid #FFBD98;
    width: 900px;
    margin: 20px 0;
    margin-left: 60px;
    height: 400px;
}

.arrow-box::before, .arrow-box::after {
    content: " ";
    right: 100%;
    top: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box::before {
    border-color: rgba(103, 110, 195, 0);
    border-right-color: #FFBD98;
    border-width: 39px;
    margin-top: -39px;
}

.arrow-box::after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 36px;
    margin-top: -36px;
}

.content-4 > .inner > .arrow-box > .txt-box {
    width: 850px;
    margin: 20px auto;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner {
    margin: 0 auto;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .name {
    width: 100%;
    padding: 20px 0;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .name > span:nth-child(1) {
    font-size: 30px;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .name > span:nth-child(2) {
    margin-left: 10px;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .info {
    font-size: 22px;
    margin-bottom: 40px;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .info > div:not(:nth-child(3)){
    margin-right: 40px;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .info > div > span {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.content-4 > .inner > .arrow-box > .txt-box > .inner > .content > span {
    display: block;
    text-align: center;
    color: #5e5e5e;
}
