.main-bar {
    margin-top: 60px; 
}

.main-bar > span {
    font-size: 2rem;
    font-weight: 600;
}

.main-bar > .my-img > a > img {
    display: block;
    width: 300px;
    margin-top: 30px;
}

@media (max-width:799px) {
    .main-bar > .my-img > a > img {
        width: 150px;
    }
}

.main-bar > .profile-bar {
    margin-top: 50px;
} 

.main-bar .profile-bar > .profile-list {
    padding-left: 80px;
}

.main-bar .profile-bar > .profile-list > div:first-child {
    margin-top: 10px;
}

.main-bar .profile-bar > .profile-list > div {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 600;
}

.title-list {
}

.title-list > .title {
    font-size: 40px;
    color: rgb(146, 17, 146);
    text-align: center;
}
.title-list > .name {
    margin-top: 20px;
    text-align: center;
}
.title-list > .date {
    font-size: 12px;
    text-align: center;
    color: rgb(182, 182, 182);
}

/* daily life */
.main-daily-life-title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 80px;

}

.daily-menu {
    margin-top: 50px;
}
.daily-menu > ul > li {
    margin: 0 50px;
}

/* self-development */
.main-self-development-title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 80px;

}

.self-development-menu {
    margin-top: 50px;
}
.self-development-menu > ul > li {
    margin: 0 50px;
}