/* 폰트적용 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
    font-family: "NanumSquare", "Nanum Gothic""Montserrat", "Roboto", sans-serif;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
}


/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */

.ratio-16-9::after {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.abs-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.con-1 {
    margin-left: auto;
    margin-right: auto;
}

.con-2 {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-column-nowrap {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

*>.flex-nowrap {
    flex-wrap: nowrap;
}

*>.flex-wrap {
    flex-wrap: wrap;
}

*>.flex-order-m1 {
    order: -1;
}

/* 커스텀 */
@media (max-width: 799px) {
    ss {
        padding-top: 60px;
    }
}

@media (min-width: 1800px) and (min-width: 1771px) {
    ss {
        max-width: 1550px;
    }
}

@media screen and (max-width: 1300px),
screen and (max-height: 1000px) {
    ss {
        max-width: 1200px;
    }
}

.con-min-width {
    min-width: 1330px;
}

.con {
    max-width: 1600px;
}

.con-1 {
    max-width: 1264px;
}

.con-2 {
    max-width: 1620px;
}

/*메뉴바 시작*/
.main-menu {
    height: 100px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.main-menu>.inner>ul>div {
    border: 2px solid rgb(179, 179, 179);
    background-color: rgb(179, 179, 179);
    height: 1px;
    margin: 47px 40px;
}

.main-menu>.inner>ul>li>a {
    position: relative;
    font-size: 24px;
    font-weight: 500;
}

.main-menu>.inner>ul>li:hover>a {
    font-weight: 700;
}

.main-menu>.inner>ul>li>a>span {
    position: relative;
}

.main-menu>.inner>ul>li>a>span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: green;
    transition: width 0.3s;
}

.main-menu>.inner>ul>li:hover>a>span::after {
    width: 100%;
}

.main-menu>.inner>.sub-menu>.inner {
    font-size: 14px;
    color: gray;
}

.main-menu>.inner>.sub-menu>.inner>a {
    padding: 5px 7px;
}

/*메뉴바 끝*/

/*메인 슬라이드 시작*/
.slide-bar {
    margin-top: 3px;
}

.slide-bar img {
    width: 100%;
}

.slide-bar .owl-nav {
    display: none;
}

.slide-bar .owl-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

/*메인 슬라이드 끝*/

/*컨텐츠-1 행복소식 시작*/
.content-1 {
    margin-top: 100px;
}

.content-1>.title {
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.content-1>.title>span {
    font-size: 47px;
}

.content-1>.title>span:nth-child(1) {
    font-weight: 300;
}

.content-1>.title>span:nth-child(2) {
    font-weight: 600;
}

.content-1>.title>a {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translateY(-50%);
}

.box-list-1>div {
    margin: 0 -10px;
}

.box-list-1>div>.box {
    width: 33.3333%;
    height: 150px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.box-list-1>div>.box>.content {
    height: 100%;
}

/* 탭 타입 1 */
.tab-type-1>.head>ul>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(204, 204, 204);
    font-size: 22px;
    font-weight: 500;
}

.tab-type-1>.head>ul>li:last-child>a {
    border-right-width: 1px;
}

.tab-type-1>.head>ul>li.active>a {
    color: green;
    font-weight: 700;
    border-color: #005bac;
    background-color: #ecf4fc;
    border-bottom-color: transparent;
}

.tab-type-1>.head>ul>li.active+li>a {
    border-left-color: #005bac;
}

.tab-type-1>.body>ul {
    margin-top: 100px;
}

.tab-type-1>.body>ul>li {
    display: none;
    border: 1px solid rgb(204, 204, 204);
    transform: translate(0, 0);
}

.tab-type-1>.body>ul>li.active {
    display: block;
}

.tab-type-1>.body>ul>li:not(:nth-child(4)) {
    margin-right: 30px;
}

.tab-type-1>.body>ul>li>a {
    display: block;
    width: 315px;
    height: 340px;
    padding: 60px 30px;
}

.tab-type-1>.body>ul>li:hover {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.05);
    transform: translate(0, 5px);
}

.tab-type-1>.body>ul>li>a>span {
    display: block;
}

.tab-type-1>.body>ul>li>a>.title {
    font-size: 26px;
    font-weight: 700;
}

.tab-type-1>.body>ul>li>a>.content {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(110, 110, 110);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 9.6em;
}

.tab-type-1>.body>ul>li>a>.date {
    margin-top: 60px;
}

/*컨텐츠-1 행복소식 끝*/

/*컨텐츠-2 시작*/

/*컨텐츠-2 더 알아보기 시작*/
.content-2 {
    margin-top: 550px;
}

.content-2>.content-2-1 {
    width: 50%;
}

.content-2>.content-2-1>.title {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.content-2>.content-2-1>.title>span {
    font-size: 47px;
}

.content-2>.content-2-1>.title>span:nth-child(1) {
    font-weight: 300;
}

.content-2>.content-2-1>.title>span:nth-child(2) {
    font-weight: 600;
}
.content-2>.content-2-1>ul {
    margin-top: 50px;
}
.content-2>.content-2-1>ul>li>a {
    display: block;
    text-align: center;
}
.content-2>.content-2-1>ul>li>a>span {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.content-2>.content-2-1>ul>li>a>img {
    width: 85%;
}

/*컨텐츠-2 더 알아보기 끝*/

/*컨텐츠-2 알림 시작*/
.content-2>.content-2-2 {
    position: relative;
    width: 50%;
}

.content-2>.content-2-2>.title>span {
    margin-left: 25px;
    font-size: 47px;
}

.content-2>.content-2-2>.title>span {
    font-weight: 600;
}

.content-2-2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
}
.content-2-2 .swiper-container .swiper-pagination {
    position: absolute;
    top: 10%;
    right: 1000%;
    z-index: 10;
}

.content-2-2 .swiper-container .swiper-button {
    position: absolute;
    top: 50%;
}

.content-2-2 .swiper-container .swiper-button-next {
    position: absolute;
    top: 50%;
    left: 10%;
    border: 1px solid red;
}
/*컨텐츠-2 알림 끝*/

/*컨텐츠-2 끝*/

/*컨텐츠-3 3분 메세지 시작*/
.content-3 {
    margin-top: 100px;
}
.content-3>.title {
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.content-3>.title>span {
    font-size: 47px;
}

.content-3>.title>span:nth-child(1) {
    font-weight: 300;
}

.content-3>.title>span:nth-child(2) {
    font-weight: 600;
}

.content-3>.title>a {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translateY(-50%);
}
.content-3>ul {
    margin-top: 40px;
    box-sizing: border-box;
}

.content-3>ul>li {
    border: 1px solid rgb(204, 204, 204);
    transform: translate(0, 0);
}

.content-3>ul>li:hover {  
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.05);
    transform: translate(0, 5px);
}

.content-3>ul>li:not(:nth-child(3)) {
    margin-right: 35px;
}
.content-3>ul>li>a {
    position: relative;
    display: block;
}

.content-3>ul>li>a>.box {
    position: absolute;
    bottom: 1%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .5;
}
.content-3>ul>li>a>.box>span {
    display: block;
    color: white;
    margin-left: 20px;
}
.content-3>ul>li>a>.box>.word {
    font-size: 13px;
    margin-top: 15px;
    color: rgb(190, 190, 190);
}
.content-3>ul>li>a>.box>.title {
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(236, 236, 236);
} 

.content-3>ul>li>a>.box>.date {
    font-size: 13px;
    margin-bottom: 15px;
    color: rgb(190, 190, 190);
}
/*컨텐츠-3 3분 메세지 끝*/

/*컨텐츠-4 말씀과 찬양 시작*/
.content-4 {
    margin-top: 100px;
}
.content-4>.title {
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.content-4>.title>span {
    font-size: 47px;
    font-weight: 600;
}

.content-4>.title>a {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translateY(-50%);
}
.content-4>.list-1>li{
    margin-top: 40px;
    margin-right: 36px;
}
.content-4>.list-1>li>.box>img {
    display: block;
}

.content-4>ul>li>.box>.list {
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(206, 206, 206);   
}
.content-4>ul>li>.box>.list>.mini-title-1 {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.content-4>ul>li>.box>.list>.title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    margin-left: 20px;
}
.content-4>ul>li>.box>.list>.date {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    color: teal;

}
.content-4>.list-2 {
    margin-top: 40px;
}
.content-4>.list-2>li:not(:nth-child(4)) {
    margin-right: 53px;
}
.content-4>.list-2>li>a>img{
    display: block;
}
.content-4>.list-2>li>a>.list>.title{
    font-size: 18px;
}
/*컨텐츠-4 말씀과 찬양 끝*/

/*컨텐츠-5 사진 시작*/
.content-5 .swiper-box {
    margin-top: 100px;
}
.content-5 .swiper-container {
    width: 100%;
    height: 100%;
}

.content-5 .swiper-slide {
    text-align: center;
    font-size: 18px;
}

.content-5 .swiper-box>.gallery-box {
  position: relative;
  padding: 0 0 180px 0;
}

.content-5 .swiper-box>.gallery-box>.box {
  position: absolute;
  top: 0;
  left: 25%;
  width: 25%;
  z-index: 100;
  background: url(https://ssw0428.github.io/img1/pf/happy/bg_gal.gif) no-repeat center;
  background-size: 400px 600px;
}
.content-5 .swiper-box>.gallery-box>.box>.text-box {
  position: relative;
  margin: 50px 0;
  padding-top: 120px;
}
.content-5 h3 {
  font-size: 32px;
  color: #2a2a2a;
}
}

.content-5 .swiper-box>.gallery-box>.box>.text-box>.text-1 {
  position: relative;
  color: #2a2a2a;
  letter-spacing: 0.5em;
  z-index: 2000;
}
.content-5 .swiper-box>.gallery-box>.box>.text-box>.text-1>span {
  position: relative;
  font-size: 60px;
  z-index: 2000;
}
.content-5 .swiper-box>.gallery-box>.box>.text-box>.text-1>.line1 {
  position: absolute;
  display: block;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 269px;
  height: 48px;
  background: #2bf8c9;
}

.content-5 .swiper-box>.gallery-box>.box>.text-box>.text-2 {
  position: relative;
  font-family: 'GmarketSansBold';
  color: #2a2a2a;
  font-size: 50px;
  letter-spacing: 0.5em;
  z-index: 2000;
}
.content-5 .swiper-container {
  height: 600px;
}
.content-5 .swiper-slide .img-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-5 .swiper-slide .img-box::before {
  content:"";
  display: block;
  padding-bottom: 100%;
}
.content-5 .swiper-slide>.img-box>img {
  display:none;
}
.content-5 .swiper-container .swiper-slide {
  transition: transform 1s;
}
.content-5 .down-ani {
  transform:translateY(100px);
}
.content-5 .swiper-box .slide-arrows .swiper-button {
  outline: none;
  border: 10px solid red;
  height: 20%;
}
/*컨텐츠-5 사진 시작*/

/*footer 시작*/

.footer {
    height: 256px;
    background-color: #0f112c;
    margin-top: 70px;
}

.footer>.inner>.address>span {
    display: block;
    color: white;
}

.footer>.inner>.address>span:nth-child(1) {
    padding-top: 63px;
}

.footer>.inner>.address>span:nth-child(2) {
    padding-top: 14px;
}

.footer>.inner>.address>span:nth-child(3) {
    display: inline-block;
    padding-top: 71px;
}

.footer>.inner>.icon {
    margin-top: 190px;
    margin-right: 0;
    margin-left: auto;
}

.footer>.inner>.icon>a>img:not(:nth-child(3)) {
    margin-right: 20px;
}

/*footer 끝*/