    /* 폰트적용 */
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


    html {

        font-family: 'Nanum Gothic''Montserrat', 'Roboto', sans-serif;
    }

    /* 노말라이즈 */
    body,
    ul,
    li,
    h1 {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    label[for] {
        cursor: pointer;
        user-select: none;
    }

    /* 라이브러리 */

    .ratio-16-9::after {
        content: "";
        display: block;
        padding-top: 56.25%;
    }

    .abs-full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .block {
        display: block;
    }

    .inline-block {
        display: inline-block;
    }

    .absolute-left {
        position: absolute;
        left: 0;
    }

    .absolute-right {
        position: absolute;
        right: 0;
    }

    .absolute-bottom {
        position: absolute;
        bottom: 0;
    }

    .absolute-top {
        position: absolute;
        top: 0;
    }

    .absolute-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .absolute-middle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .absolute-middle.absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .relative {
        position: relative;
    }

    .cell {
        float: left;
        box-sizing: border-box;
    }

    .cell-right {
        float: right;
        box-sizing: border-box;
    }

    .row::after {
        content: "";
        display: block;
        clear: both;
    }

    .clear-both {
        clear: both;
    }

    .img-box>img {
        width: 100%;
        display: block;
    }

    .con {
        margin-left: auto;
        margin-right: auto;
    }

    .margin-0-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .text-align-center {
        text-align: center;
    }

    .text-align-right {
        text-align: right;
    }

    .line-height-0 {
        line-height: 0;
    }

    .line-height-0>* {
        line-height: normal;
    }

    .width-30px {
        width: 30px;
    }

    .width-35px {
        width: 35px;
    }

    .width-40px {
        width: 35px;
    }

    .width-45px {
        width: 35px;
    }

    .width-50px {
        width: 50px;
    }

    .width-80px {
        width: 80px;
    }

    .width-100px {
        width: 100px;
    }

    .width-100p {
        width: 100%;
    }

    .width-60p {
        width: 60%;
    }

    .width-55p {
        width: 55%;
    }

    .width-50p {
        width: 50%;
    }

    .width-45p {
        width: 45%;
    }

    .width-40p {
        width: 40%;
    }

    .width-30p {
        width: 30%;
    }

    .width-35p {
        width: 35%;
    }

    .width-100p-except-30px {
        width: calc(100% - 30px);
    }

    .width-100p-except-35px {
        width: calc(100% - 35px);
    }

    .width-100p-except-40px {
        width: calc(100% - 40px);
    }

    .width-100p-except-50px {
        width: calc(100% - 50px);
    }

    .width-100p-except-80px {
        width: calc(100% - 80px);
    }

    .width-100p-except-100px {
        width: calc(100% - 100px);
    }

    .height-100p {
        height: 100%;
    }

    .height-50p {
        height: 50%;
    }

    .border-box {
        box-sizing: border-box;
    }

    .font-size-dot-8rem {
        font-size: .8rem;
    }

    .table-row {
        display: table;
    }

    .table-row.row::after {
        display: inline;
        clear: non;
    }

    .table-row>.cell {
        float: none;
        display: table-cell;
    }

    /* 라이브러리 - flex */
    *>.flex {
        display: flex;
    }

    *>.flex-column-nowrap {
        display: flex;
        flex-flow: column nowrap;
    }

    *>.flex-grow-1 {
        flex-grow: 1;
    }

    *>.flex-jc-end {
        display: flex;
        justify-content: flex-end;
    }

    *>.flex-jc-c {
        display: flex;
        justify-content: center;
    }

    *>.flex-as-c {
        align-self: center;
    }

    *>.flex-ai-c {
        display: flex;
        align-items: center;
    }

    *>.flex-row-nowrap {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    *>.flex-ch-basis-0 {
        display: flex;
    }

    .flex-ch-basis-0>* {
        flex-basis: 0;
    }

    *>.flex-1-0-0 {
        flex: 1 0 0;
    }

    *>.flex-nowrap {
        flex-wrap: nowrap;
    }

    *>.flex-wrap {
        flex-wrap: wrap;
    }

    *>.flex-order-m1 {
        order: -1;
    }

    /* 커스텀 */
    @media (max-width:799px) {
        ss {
            padding-top: 60px;
        }
    }

    @media (min-width:1800px) and (min-width:1771px) {
        ss {
            max-width: 1550px;
        }
    }

    @media screen and (max-width: 1300px),
    screen and (max-height: 1000px) {
        ss {
            max-width: 1200px;
        }
    }

    .con-min-width {
        min-width: 1710px;
    }

    .con {
        max-width: 1710px;
    }

    .con-1 {
        max-width: 1200px;
    }

    body,
    html {
        background-color: black;
        overflow: hidden;

    }


    .top-menu-box {
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        z-index: 5;
    }

    .top-menu-box>.menu-box {
        padding: 35px 40px;

    }

    .top-menu-box>.logo-box {
        padding: 35px 40px;
        margin-right: 0;
        margin-left: auto;
    }

    .top-menu-box>.logo-box>.logo>img {
        height: 44px;
    }

    .side-menu-bar {
        position: fixed;
        top: 0;
        left: -700px;
        height: 100%;
        width: 700px;
        padding: 140px 0 140px 75px;
        background-color: #f5e800;
        transition: left 0.1s;
        box-sizing: border-box;
        z-index: 10;
    }

    .side-menu-bar>.click-btn {
        position: absolute;
        top: 2%;
        right: 4%;
    }

    .side-menu-bar>ul>li>a {
        display: inline-block;
        font-size: 76px;
        font-weight: bold;
    }

    .side-menu-bar>ul>li:hover>a {
        color: white;
    }

    .side-menu-bar>span {
        display: block;
        color: white;
        font-weight: bold;
        font-size: 22px;
    }

    .side-menu-bar>span:nth-child(3) {
        margin-top: 40px;

    }

    /*page1 시작*/
    .swiper1 {
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        text-align: left;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(1) {
        font-weight: 800;
        font-size: 130px;
        padding-left: 0.5rem;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(2) {
        line-height: 125%;
        font-size: 110px;
        font-weight: 300;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(3) {
        line-height: 125%;
        font-size: 110px;
        font-weight: 300;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4) {
        position: relative;
        font-size: 40px;
        padding-top: 20px;
        font-weight: 500;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4)::after {
        content: "";
        position: absolute;
        background-color: white;
        bottom: -5%;
        left: 0;
        width: 100%;
        height: 2px;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.img-box>img {
        height: 100%;
        width: auto;
    }

    /*page1 끝*/

    /*page2 시작*/
    .fullpage>.page2 {
        position: relative;
    }

    .fullpage>.page2>.fp-tableCell>.text-box {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        color: #fff;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 180px;
        border: 1px solid red;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 180px;
        padding: 90px;
        box-sizing: border-box;
        font-family: Helvetica;
        font-weight: 800;
        line-height: 180px;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list2>span {
        display: block;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list2>span:nth-child(3)::after {
        content: "";
        position: absolute;
        top: 65%;
        right: 62%;
        border-radius: 50%;
        border: 10px solid #f5e800;
        width: 10px;
        height: 10px;
        display: inline-block;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
        position: absolute;
        right: 40px;
        top: 33%;
        font-size: 80px;
        color: #3a3a3a;
        font-weight: 800;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list3>span {
        display: block;
    }

    /*page2 끝*/