    /* 폰트적용 */
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


    html {

        font-family: 'Nanum Gothic''Montserrat', 'Roboto', sans-serif;
    }

    /* 노말라이즈 */
    body,
    ul,
    li,
    h1 {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    label[for] {
        cursor: pointer;
        user-select: none;
    }

    /* 라이브러리 */

    .ratio-16-9::after {
        content: "";
        display: block;
        padding-top: 56.25%;
    }

    .abs-full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .block {
        display: block;
    }

    .inline-block {
        display: inline-block;
    }

    .absolute-left {
        position: absolute;
        left: 0;
    }

    .absolute-right {
        position: absolute;
        right: 0;
    }

    .absolute-bottom {
        position: absolute;
        bottom: 0;
    }

    .absolute-top {
        position: absolute;
        top: 0;
    }

    .absolute-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .absolute-middle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .absolute-middle.absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .relative {
        position: relative;
    }

    .cell {
        float: left;
        box-sizing: border-box;
    }

    .cell-right {
        float: right;
        box-sizing: border-box;
    }

    .row::after {
        content: "";
        display: block;
        clear: both;
    }

    .clear-both {
        clear: both;
    }

    .img-box>img {
        width: 100%;
        display: block;
    }

    .con {
        margin-left: auto;
        margin-right: auto;
    }

    .margin-0-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .text-align-center {
        text-align: center;
    }

    .text-align-right {
        text-align: right;
    }

    .line-height-0 {
        line-height: 0;
    }

    .line-height-0>* {
        line-height: normal;
    }

    .width-30px {
        width: 30px;
    }

    .width-35px {
        width: 35px;
    }

    .width-40px {
        width: 35px;
    }

    .width-45px {
        width: 35px;
    }

    .width-50px {
        width: 50px;
    }

    .width-80px {
        width: 80px;
    }

    .width-100px {
        width: 100px;
    }

    .width-100p {
        width: 100%;
    }

    .width-60p {
        width: 60%;
    }

    .width-55p {
        width: 55%;
    }

    .width-50p {
        width: 50%;
    }

    .width-45p {
        width: 45%;
    }

    .width-40p {
        width: 40%;
    }

    .width-30p {
        width: 30%;
    }

    .width-35p {
        width: 35%;
    }

    .width-100p-except-30px {
        width: calc(100% - 30px);
    }

    .width-100p-except-35px {
        width: calc(100% - 35px);
    }

    .width-100p-except-40px {
        width: calc(100% - 40px);
    }

    .width-100p-except-50px {
        width: calc(100% - 50px);
    }

    .width-100p-except-80px {
        width: calc(100% - 80px);
    }

    .width-100p-except-100px {
        width: calc(100% - 100px);
    }

    .height-100p {
        height: 100%;
    }

    .height-50p {
        height: 50%;
    }

    .border-box {
        box-sizing: border-box;
    }

    .font-size-dot-8rem {
        font-size: .8rem;
    }

    .table-row {
        display: table;
    }

    .table-row.row::after {
        display: inline;
        clear: non;
    }

    .table-row>.cell {
        float: none;
        display: table-cell;
    }

    /* 라이브러리 - flex */
    *>.flex {
        display: flex;
    }

    *>.flex-column-nowrap {
        display: flex;
        flex-flow: column nowrap;
    }

    *>.flex-grow-1 {
        flex-grow: 1;
    }

    *>.flex-jc-end {
        display: flex;
        justify-content: flex-end;
    }

    *>.flex-jc-c {
        display: flex;
        justify-content: center;
    }

    *>.flex-as-c {
        align-self: center;
    }

    *>.flex-ai-c {
        display: flex;
        align-items: center;
    }

    *>.flex-row-nowrap {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    *>.flex-ch-basis-0 {
        display: flex;
    }

    .flex-ch-basis-0>* {
        flex-basis: 0;
    }

    *>.flex-1-0-0 {
        flex: 1 0 0;
    }

    *>.flex-nowrap {
        flex-wrap: nowrap;
    }

    *>.flex-wrap {
        flex-wrap: wrap;
    }

    *>.flex-order-m1 {
        order: -1;
    }

    /* 커스텀 */
    @media (max-width:799px) {
        ss {
            padding-top: 60px;
        }
    }

    @media (min-width:1800px) and (min-width:1771px) {
        ss {
            max-width: 1550px;
        }
    }

    @media screen and (max-width: 1300px),
    screen and (max-height: 1000px) {
        ss {
            max-width: 1200px;
        }
    }

    .con-min-width {
        min-width: 1710px;
    }

    .con {
        max-width: 1710px;
    }

    .con-1 {
        max-width: 1200px;
    }

    body,
    html {
        background-color: black;
        overflow: hidden;

    }


    .top-menu-box {
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        z-index: 5;
    }

    .top-menu-box>.menu-box {
        padding: 35px 40px;

    }

    .top-menu-box>.logo-box {
        padding: 35px 40px;
        margin-right: 0;
        margin-left: auto;
    }

    .top-menu-box>.logo-box>.logo>img {
        height: 44px;
    }

    .side-menu-bar {
        position: fixed;
        top: 0;
        left: -600px;
        height: 100%;
        width: 600px;
        padding: 140px 0 140px 75px;
        background-color: #f5e800;
        transition: left 0.1s;
        box-sizing: border-box;
        z-index: 10;
    }

    .side-menu-bar>.click-btn {
        position: absolute;
        top: 2%;
        right: 4%;
    }
    .side-menu-bar>ul {
        margin-top: -40px;
    }
    .side-menu-bar>ul>li {
        line-height: 3.3rem;
    }    

    .side-menu-bar>ul>li>a {
        display: inline-block;
        font-size: 76px;
        font-weight: bold;
    }

    .side-menu-bar>ul>li:hover>a {
        color: white;
    }

    .side-menu-bar>span {
        display: block;
        color: white;
        font-weight: bold;
        font-size: 22px;
    }

    .side-menu-bar>span:nth-child(3) {
        margin-top: 40px;

    }

    /*page1 시작*/
    .swiper1 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box {
        position: absolute;
        top: 50%;
        padding: 2rem 14rem;
        transform: translateY(-55%);
        text-align: left;
        z-index: 10;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(1) {
        font-weight: 800;
        font-size: 7rem;
        padding-left: 0.5rem;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(2) {
        line-height: 125%;
        font-size: 5rem;
        font-weight: 300;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(3) {
        line-height: 125%;
        font-size: 5rem;
        font-weight: 300;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4) {
        position: relative;
        font-size: 2rem;
        padding-top: 20px;
        font-weight: 700;
    }

    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4)::after {
        content: "";
        position: absolute;
        background-color: white;
        bottom: -5%;
        left: 0;
        width: 100%;
        height: 2px;
    }
    
   
    .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.img-box>div {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    
    .fullpage>.page1>.fp-tableCell>.swiper1>.swiper-pagination {
        z-index: 10;
        width: 98%;
        margin-bottom: 30px;
        color: white;
        text-align: right;
        display: block;
    }
    .fullpage>.page1>.fp-tableCell>.swiper1>.swiper-pagination > .swiper-pagination-current {
        font-size: 81px;
    }
    .fullpage>.page1>.fp-tableCell>.swiper1>.swiper-pagination > .swiper-pagination-total {
        font-size: 32px;
    }


    /*page1 끝*/

    /*page2 시작*/
    .fullpage>.page2 {
        position: relative;
    }

    .fullpage>.page2>.fp-tableCell>.text-box {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        color: #fff;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 180px;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
        position: relative;
        top: 100%;
        transform: translateY(-50%);
        font-size: 140px;
        padding: 90px;
        box-sizing: border-box;
        font-family: Helvetica;
        font-weight: 800;
        line-height: 180px;
        opacity: 0;
    }

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2 {
        top: 50%;
        opacity: 1;
        transition-delay: 200ms;
        transition-duration: 600ms;
    }    

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2>span {
        line-height: 90%;
        display: block;
        position: relative;
    }

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2>.trs-delay-200 {
        animation-name: pg2-left;
        animation-duration: 1200ms;
        animation-delay: 800ms;
        animation-fill-mode: forwards;     
    }

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2>.trs-delay-300 {
        animation-name: pg2-left;
        animation-duration: 1200ms;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2>.trs-delay-400 {
        animation-name: pg2-left;
        animation-duration: 1200ms;
        animation-delay: 950ms;
        animation-fill-mode: forwards;
    }

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2>.trs-delay-500 {
        animation-name: pg2-left;
        animation-duration: 1200ms;
        animation-delay: 1000ms;
        animation-fill-mode: forwards;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list2>span:nth-child(3)::after {
        content: "";
        position: absolute;
        top: 65%;
        right: 62%;
        border-radius: 50%;
        border: 10px solid #f5e800;
        width: 10px;
        height: 10px;
        display: inline-block;
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
        position: absolute;
        right: 40px;
        top: 100%;
        font-size: 60px;
        color: #3a3a3a;
        font-weight: 800;
    }

    .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
        top:33%;
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 1400ms
    }

    .fullpage>.page2>.fp-tableCell>.text-box>.text-list3>span:nth-child(1) {
        display: block;
        position: relative;
        animation-name: pg3-left;
        animation-duration: 1200ms;
        animation-delay: 1700ms;
        animation-fill-mode: forwards;
    }
    .fullpage>.page2>.fp-tableCell>.text-box>.text-list3>span:nth-child(2) {
        display: block;
        position: relative;
        animation-name: pg3-left;
        animation-duration: 1200ms;
        animation-delay: 1700ms;
        animation-fill-mode: forwards;
    }

    @keyframes pg2-left {
        0%,33%,66%,100% {top:0; animation-timing-function: ease-out;}
        16% {top:60px;animation-timing-function: ease-in;}
        49% {top:30px;animation-timing-function: ease-in;}
        85% {top:10px;animation-timing-function: ease-in;}
    }
/*
    @keyframes pg3-left {
        0%,33%,66%,100% {top:0; animation-timing-function: ease-out;}
        16% {top:900px;animation-timing-function: ease-in;}
        49% {top:60px;animation-timing-function: ease-in;}
        85% {top:10px;animation-timing-function: ease-in;}
    }
*/

    /*page2 끝*/

    /*page3 시작*/
    .fullpage>.page3 {
        position: relative;
        overflow: hidden;
    }

    .fullpage>.page3>.fp-tableCell>.item-section {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: 25%;
        overflow: hidden;
    }


    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2 {
        width: 75%;
        height: 100%;
        box-sizing: border-box;
        border: 10px solid red;
    }
    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2>ul>li:nth-child(4) {
    }
    .fullpage>.page3.active>.fp-tableCell>.item-section>.swiper2>ul>li:nth-child(4) {
        
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.title {
        position: relative;
        right: -100%;
        font-size: 72px;
        font-weight: bold;
        color: white;
        opacity: 0;
    }

    .fullpage>.page3.active>.fp-tableCell>.item-section>.title {
        opacity: 1;
        right: 0;
        transition-delay: 300ms;
        transition-duration: 500ms;
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.title>span {
        display: block;
        position: relative;
        margin-bottom: 20px;
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.title>span::after {
        content: "";
        position: absolute;
        top: 70%;
        right: 74%;
        border-radius: 50%;
        border: 5px solid #f5e800;
        width: 5px;
        height: 5px;
        display: inline-block;
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2 .swiper-slide {
        display: flex;
        align-items: center;
        position: relative;
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2 .swiper-slide>p {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        font-size: 12px;
        color: #fff;
        padding: 5px 20px;
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2 .swiper-slide>a {
        display: block;
        position: relative;
        overflow-y: hidden;
    }

    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2 .swiper-slide>a>img {
        transition-delay: 100ms;
        transition-duration: 400ms;
        width: 100%;
    }




    .fullpage>.page3>.fp-tableCell>.item-section>.swiper2 .swiper-slide:hover>a>img {
        transform: translate(0, -6rem);
    }

    /*page3 끝*/

    .fullpage>.page4 {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .fullpage>.page4>.fp-tableCell>.img {
        width: 100%;
        height: 100%;
    }

    .fullpage>.page4>.fp-tableCell>.item-section {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 85%;
        height: 75%;
        transform: translate(-50%, -50%);
        overflow: visible;
    }

    .fullpage>.page4>.fp-tableCell>.item-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .fullpage>.page4>.fp-tableCell>.item-section > .title1 {
        color: white;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        padding: 50px 0 0 100px;
        
    }

    .fullpage>.page4>.fp-tableCell>.item-section > .title1 > span {
        display: block;
        opacity: 0;
    }
    .fullpage>.page4>.fp-tableCell>.item-section > .title1 > span:nth-child(1) {
        font-size: 110px;
        font-weight: 100;
    }
    .fullpage>.page4>.fp-tableCell>.item-section > .title1 > span:nth-child(2) {
        font-size: 110px;
        font-weight: 100;
    }
    .fullpage>.page4>.fp-tableCell>.item-section > .title1 > span:nth-child(3) {
        font-size: 40px;
        font-weight: 100;
        margin-top: 24px;
    }
    .fullpage>.page4>.fp-tableCell>.item-section > .title1 > span:nth-child(4) {
        position: relative;
        font-size: 30px;
        margin-top: 80px;
        font-weight: bold;
    }

    .fullpage>.page4>.fp-tableCell>.item-section > .title1 > span:nth-child(4)::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        border-bottom: 1px solid white;
        width: 250px;
        height: 1px;
        background-color: white;
    }
    
    .fullpage>.page4.active>.fp-tableCell>.item-section > .title1 > span:nth-child(1) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 1100ms;
    }

    .fullpage>.page4.active>.fp-tableCell>.item-section > .title1 > span:nth-child(2) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 1250ms;
    }

    .fullpage>.page4.active>.fp-tableCell>.item-section > .title1 > span:nth-child(2)>span {
        display: inline-block;
        animation-name: question;
        animation-delay: 1500ms;
        animation-duration: 1500ms;
        transform-origin: center 85%;
        margin-left: -30px;
    }

    @keyframes question {
        20%,60% {transform:rotateZ(-5deg);}
        40%,80% {transform:rotateZ(5deg);}
        100% {transform:rotateZ(0);}
    }

    .fullpage>.page4.active>.fp-tableCell>.item-section > .title1 > span:nth-child(3) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 1300ms;
    }

    .fullpage>.page4.active>.fp-tableCell>.item-section > .title1 > span:nth-child(4) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 1500ms;
        animation-name: inquiry-link;
        animation-duration: 500ms;
        animation-delay: 2000ms;
    }

    @keyframes inquiry-link {
        10%,30%,50%,70%,90% {left:-1px;}
        20%,40%,60%,80% {left:1px;}
        100% {left:0;}
    }



    .fullpage>.page4>.fp-tableCell>.item-section > .title2 {
        position: absolute;
        top: -40px;
        right: 120px;
    }

    .fullpage>.page4>.fp-tableCell>.item-section > .title2 > span {
        display: block;
        color: white;
        font-size: 70px;
        font-weight: bold;
        line-height: 70px;
        opacity: 0;
    }  

    .fullpage>.page4.active>.fp-tableCell>.item-section > .title2 > span:nth-child(1) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 500ms;
    }
    .fullpage>.page4.active>.fp-tableCell>.item-section > .title2 > span:nth-child(2) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 600ms;
    }
    .fullpage>.page4.active>.fp-tableCell>.item-section > .title2 > span:nth-child(3) {
        opacity: 1;
        transition-duration: 300ms;
        transition-delay: 700ms;
        position: relative;
    }

    .fullpage>.page4.active>.fp-tableCell>.item-section > .title2 > span:nth-child(3)::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 20px;
        border: 5px solid #f5e800;
    }



    .fullpage>.page4>.fp-tableCell>.item-section > .title3 {
        position: absolute;
        bottom: 10%;
        right: 8%;
    }    

    .fullpage>.page4>.fp-tableCell>.item-section > .title3 > span {
        display: block;
        color: white;
        font-size: 20px;
        position: relative;
        
    }

    .fullpage>.page4>.fp-tableCell>.item-section > .title3 > span::after {
        content: "";
        position: absolute;
        bottom: 15%;
        right: -25px;
        border-radius: 50%;
        width:10px;
        height: 10px;
        background-color: #f5e800;
    }

    /*page4 시작*/



    /*page4 끝*/




    /* media 커스텀 */
    @media (max-width:1440px) {
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box {
            padding: 2rem 18rem;
        }

        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(1) {
            font-size: 8rem;
            padding-left: 0.5rem;
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(2) {
            font-size: 4rem;
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(3) {
            font-size: 4rem;
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4) {
            font-size: 1.5rem;
        }
        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 130px;
        }

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 55px;
            right: 20px;
            right: 110px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:49%;
        }
        
        .side-menu-bar>ul {
            margin-top: -40px;
        }
        .side-menu-bar>ul>li {
            line-height: 3.3rem;
        }    
    
        .side-menu-bar>ul>li>a {
            font-size: 60px;
        }
        
        .side-menu-bar>span {
            font-size: 22px;
        }

    }
    @media screen and (max-width: 1280px) {
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box {
            padding: 2rem 9rem;
        }

        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(1) {
            font-size: 6rem;
            padding-left: 0.5rem;
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(2) {
            
            font-size: 4rem;
            
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(3) {
            
            font-size: 4rem;
            
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4) {
            
            font-size: 1.5rem;
            
        }

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 110px;
        }

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 40px;
            right: 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:50%;
        }
    }

    @media screen and (max-width: 1152px) {
        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 90px;
        }

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 35px;
            right: 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:50%;
        }

    }

    @media screen and (max-width: 1000px) {
        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 80px;
            padding: 0 40px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2 {
            top: 40%;
        }    

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 30px;
            right: 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:40%;
        }
   
    }

    @media screen and (max-width: 768px) {
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box {
            padding: 2rem 7rem;
        }

        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(1) {
            font-size: 4rem;
            padding-left: 0.5rem;
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(2) {
            
            font-size: 3rem;
            
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(3) {
            white-space: nowrap;
            font-size: 3rem;
            
        }
    
        .fullpage>.page1>.fp-tableCell>.swiper1>ul>li>.text-box>.text-list>span:nth-child(4) {
            white-space: nowrap;
            font-size: 1.2rem;
            
        }
        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 80px;
            padding: 0 35px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2 {
            top: 40%;
        }    

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 25px;
            right: 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:42%;
        }
   
    }
     
    @media screen and (max-width: 640px) {
        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 65px;
            padding: 0 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2 {
            top: 40%;
        }    

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 25px;
            left: 0;
            padding: 0 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:80%;
        }
  
    }

    @media screen and (max-width: 425px) {
        .fullpage>.page2>.fp-tableCell>.text-box>.text-list2 {
            font-size: 50px;
            padding: 0 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list2 {
            top: 35%;
        }    

        .fullpage>.page2>.fp-tableCell>.text-box>.text-list3 {
            font-size: 22px;
            left: 0;
            padding: 0 30px;
        }

        .fullpage>.page2.active>.fp-tableCell>.text-box>.text-list3 {
            top:80%;
        }
    }
    
    @media screen and (max-width: 512px) {
    
    }

    @media screen and (max-width: 425px) {
    }
    
    @media screen and (max-width: 375px) {
 
    }
    
    @media screen and (max-width: 320px) {
  
    
    }
    