/* 폰트적용 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {

    font-family: 'Roboto', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */

.ratio-16-9::after {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.abs-full {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

*>.flex-nowrap {
    flex-wrap: nowrap;
}

*>.flex-wrap {
    flex-wrap: wrap;
}

/* 커스텀 */
@media (max-width:799px) {
    body {
        padding-top: 60px;
    }
}


.con-min-width {
    min-width: 1356px;
}

.con {
    max-width: 1400px;
}

/* 탑메뉴바 시작 */
.top-menu-bar {
    background-color: #F6F6F6;
}

.top-menu-bar > .inner {
    height: 40px;
    line-height: 40px;
    padding: 0 40px;

}
.top-menu-bar > .inner > ul > li {
    margin-left: 30px;
}

.top-menu-bar > .inner > ul > li > a {
    font-size: 12px;
    color: #787878;
    font-weight: bold;
}

/* 탑메뉴바 끝 */

/* 메뉴바 시작 */

.menu-bar > .logo-bar > .logo > img {
    z-index: 100;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -600px;
    width: 120px;
}

.menu-bar > .event > span {
    position: absolute;
    right: 50%;
    top: 80px;
    margin-right: -520px;
    font-size: 14px;
}

.menu-bar > .right-icon > .search > span {
    position: absolute;
    top: 80px;
    right: 21%;
}

.menu-bar > .right-icon > .book > span {
    position: absolute;
    top: 80px;
    right: 19%;
}
.menu-bar > .main-menu-box > ul {
    width: 870px;
    z-index: 10;
}

.menu-bar > .main-menu-box > ul > li {
    position: relative;
    height: 100px;
    flex-basis: calc(100%/6);
}

.menu-bar > .main-menu-box > ul > li > a {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 38px 0;
}

.menu-bar > .main-menu-box > ul > li:hover > a {
    color:#C30013;
    transition: color 0.3s ease-in-out;
}

.menu-bar > .main-menu-box > ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    background-color: white;
    height: 0;
    transition: height 0.5s, background-color 1s;
    overflow: hidden;
}
.menu-bar > .main-menu-box > ul:hover ul {
    height: 450px;
}

.menu-bar > .main-menu-box > ul li:hover > ul {
    border-top: 1px solid #F6F6F6;
    background-color: #f8f8f8;
}


.menu-bar > .main-menu-box > ul ul > li > a {
    font-size: 14px;
    color: #616161;
    display: block;
    text-align: center;
    padding: 8px 15px;
    font-weight: 600;
}
/* 메뉴바 끝 */

/* 슬라이드 시작 */
html, body {
    height:100%;
}

.main-slider {
    height:700px;
    width:95%;
    position:relative;
    user-select:none;
    margin: 0 auto;
}

.main-slider > span {
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}


.main-slider > span > a {
    padding: 15px 50px;
    opacity: 0.6;
    transition: opacity 0.5s;
    display: block;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    position: relative;
}

.main-slider > span:hover > a {
    opacity: 1;
}

.main-slider > span > a > .arrow {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/arrow1.png);
    position: absolute;
    opacity: 0;
    top: 20px;
    right: 32px;
    width: 30px;
    height: 10px;
    transition: right 0.5s;
    overflow: hidden;
}
.main-slider > span > a:hover > .arrow {
    opacity: 1;
    right: -17px;
}

.main-slider > .slides > div {
    animation-name: zoomout;
    animation-duration: 12s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* 왼쪽 클릭 */
.main-slider > .side-bars > .control1 {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/supp_w.png);
    position: absolute;
    top: 278px;
    width: 120px;
    height: 71px;
    padding-top: 99px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background-position: center 53px;
    background-repeat: no-repeat;
    background-size: 40px auto;
    transition: background-color 0.5;
}

.main-slider > .side-bars > .control1 > .line {
    position: absolute;
    top: 71px;
    width: 30px;
    height: 2px;
    left: 0;
    background-color: #fff;
}

.main-slider > .side-bars > .control1 > .line::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
}

.main-slider > .side-bars > .control1:hover > .on {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/supp_r.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center 53px;
    background-repeat: no-repeat;
    background-size: 40px auto;
}

/* 오른쪽 클릭 */
.main-slider > .side-bars > .control2 {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/uniform_w.png);
    z-index: 200;
    position: absolute;
    top: 278px;
    width: 120px;
    height: 71px;
    padding-top: 99px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background-position: center 53px;
    background-repeat: no-repeat;
    background-size: 40px auto;
    transition: background-color 0.5;
}

.main-slider > .side-bars > .control2 > .line {
    position: absolute;
    top: 71px;
    width: 30px;
    height: 2px;
    right: 0;
    background-color: #fff;
}

.main-slider > .side-bars > .control2 > .line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
}

.main-slider > .side-bars > .control1:hover {
    color: red;
    background-color: white;
}

.main-slider > .side-bars > .control2:hover {
    color: red;
    background-color: white;
}

.main-slider > .side-bars > .control2:hover > .line {
    background-color: red;
}

.main-slider > .side-bars > .control2:hover > .line::after {
    background-color: red;
}
.main-slider > .side-bars > .control1:hover > .line {
    background-color: red;
}
.main-slider > .side-bars > .control1:hover > .line::after {
    background-color: red;
}

.main-slider > .side-bars > .control2:hover > .on {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/uniform_r.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center 53px;
    background-repeat: no-repeat;
    background-size: 40px auto;
}


.main-slider .side-bars > div {
    position:absolute;
    top:0;
    left:0;
    /* ie 9 이상에서만 사용 가능 */
    height:100%;
    cursor:pointer;
    
}

.main-slider .side-bars > div:last-child {
    left:auto;
    right:0;
}

.main-slider .side-bars > div > img {
    left:inherit;
    right:inherit;
    transition: transform 0.2s;
    margin-top: 250px;
}



.main-slider > .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 0.5s;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}

.main-slider > .slides > div > img {
    top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.main-slider > .slides > div.active {
    opacity:1;
}

/* 슬라이드 끝 */

/* 메인 상품 시작 */

.main-prod > .main-name > span {
    margin-top: 92px;
    display: block;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
}

.main-prod > .item-name {
    margin: 28px 0 58px 0;
}

.main-prod > .item-name > li > a {
    padding: 0 32px;
    font-size: 18px;
    font-weight: 500;
}

/* price list 시작 */
.main-prod .prod-box-1 {
}
.main-prod .prod-box-1 .item {
    
}

.main-prod .prod-box-1 .item > .img-box::after {
    content:"";
    display:block;
    padding-top:150%;
  }
  
  .main-prod  .prod-box-1 .item > .img-box {
    position:relative;
    border: 1px solid #efefef;
    transition: box-shadow 1s;
    overflow: hidden;
  }
  
  .main-prod .prod-box-1 .item > .img-box:hover {
    box-shadow: 0 14px 24px rgba(0,0,0,0.1);
  }

  .main-prod .prod-box-1 .item > .img-box > a {
    position:absolute;
    left:0;
    right:0;
    top:50%;
    transform:translateY(-50%);
  }
  .main-prod .prod-box-1 .item > .img-box > a > img {
    transition: transform 3s;
  }
  .main-prod .prod-box-1 .item > .img-box > a:hover > img {
    transform: scale(1.1);
  }
  
  .main-prod .prod-box-1 .item > .type {
    margin-top: 28px;
   font-size: 14px;
    color: #787878;
  }
  
  .main-prod .prod-box-1 .item > .prod-name {
    font-size: 18px;
    padding-top: 10px;
  }
  
  .main-prod .prod-box-1 .item > .price-list {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  
  .main-prod .prod-box-1 .item > .price-list > .price-1 {
    text-decoration: line-through;
    font-size: 12px;
    padding-right: 3px;
    color: #787878;
    padding-top: 5px;
  }
  
  .main-prod .prod-box-1 .item > .price-list > .price-2 {
    font-size: 18px;
    }
  
    .main-prod .prod-box-1 .item > .type, .prod-box-1 .item > .prod-name,  .prod-box-1 .item > .price-list {
    text-align: center;
  }
  
  .main-prod .prod-box-1 .item > .prod-name, .prod-box-1 .item > .prod-price {
    white-space:nowrap;
    overflow-x:hidden;
    text-overflow:ellipsis;
  }
  
  .main-prod .prod-box-1 > .owl-carousel.owl-theme > .owl-nav {
    margin:0;
  }
  
  .main-prod .prod-box-1 > .owl-carousel.owl-theme > .owl-nav > button:hover {
    background-color: rgba(16,16,16,0.7);
    color: black;
    text-decoration: none;
    border: none;
  }

  .main-prod .prod-box-1 > .owl-carousel.owl-theme > .owl-nav > button {
    background-color: rgba(16,16,16,0.7);
    border-radius:0;
    position:absolute;
    left:-5px;
    top:50%;
    transform:translateY(-50%);
    width: 80px;
    height: 80px;
  }
  
  .main-prod .prod-box-1 > .owl-carousel.owl-theme > .owl-nav > button:last-child {
    position:absolute;
    left:auto;
    right:-5px;
    top:50%;
    transform:translateY(-50%);
  }

/* price list 끝 */

.main-prod > .item-list > ul {
    max-width: 1400px;
}

.main-prod > .item-list > ul > li {
    margin: 0 20px;
    position: relative;
    border: 1px solid red;
}

.main-prod > .item-list > ul > li > .inner1 {
    border: 1px solid rgb(226, 226, 226);
    height: 400px;
}

.main-prod > .item-list > ul > li > .inner1 > a {
    display: block;
}

.main-prod > .item-list > ul > li > .inner1 > a > img {
    width:100%;
    display: block;

}

.main-prod > .item-list > ul > li > .inner2 > .name1 {
    font-size: 14px;
    color: #787878;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main-prod > .item-list > ul > li > .inner2 > .name2 {
    font-size: 18px;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 320px;
    text-align: center;
}

.main-prod > .item-list > ul > li > .inner2 > .price {
    margin-top: 12px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-prod > .item-list > ul > li > .inner2 .name3 {
    font-size: 12px;
    vertical-align: middle;
    margin-right: 3px;
    font-size: 12px;
    color: #787878;
    text-decoration: line-through;
}
.main-prod > .item-list > ul > li > .inner2 .name4 {
    font-size: 18px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 메인 상품 끝 */

/* 빨간 슬라이드 시작 */

.main-tech {
    margin-top: 89px;
}

.main-tech > h3 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 46px;
    font-weight: 500;
}
/* 사이드 바 */
.inner {
    position: relative;
    overflow: hidden;
}
.side-bar {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:5%;
    z-index:1;
}
.side-bar > .menu-1 > ul > li {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, .2);
    position: relative;
    width: 182px;
    height: 60px;
}
.side-bar > .menu-1 > ul > li > a {
    width: 100%;
    height: 100%;
    align-content: center;
    cursor: pointer;
}
.side-bar > .menu-1 > ul > li > a > .num {
    color: white;
    font-size: 12px;
    padding-left: 10px;
}
.side-bar > .menu-1 > ul > li > a > .name {
    padding-left: 30px;
    font-weight: 700;
    color: white;
    font-size: 12px;
    width: 100%;
}

.side-bar > .menu-1 > ul > li > a > .dot-box > .dot {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 10px;
}
.side-bar > .menu-1 > ul > li.active div {
    background-color: white;
    color: #c30013;
}

.side-bar > .menu-1 > ul > li.active div:nth-child(2) > .dot {
    background-color: #c30013;
}

.pages-box {
    white-space:nowrap;
    line-height:0;
    position:relative;
    width: 100%;
}

.pages-box > div {
    width: 100%;
    display:inline-block;
    line-height:normal;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    height: 620px;
    overflow: hidden;
}

.pages-box > div > .inner2 {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 49px;
    padding-bottom: 3px;
    transform: translateY(-50%);
    width: 436px;
}

.pages-box > div > .inner2 > .name1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.pages-box > div > .inner2 > .name2 {
    font-size:18px;
    color: white;
    margin-top:13px;
    font-weight: 600;
}

.pages-box > div > .inner2 > .name3 {
    font-size:14px;
    color: #F3C3C3;
    margin-top:39px;
}

.pages-box > div > .inner2 > .view > a {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 57px 0 0;
    padding: 30px;
    width: 200px;
    display: block;
    text-align: center;
    color: white;
    font-weight: 600;
}
/* 빨간 슬라이드 끝 */

.main_vod {
    padding: 131px 0 130px;
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
}

.main_vod > a {
    display: block;
}

.main_vod > a > .play {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/vod_playbtn.png);
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    width: 130px;
    height: 130px;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateX(-50%);
}

.main_vod > .wrp_holder {
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1200px;
}

.main_vod > .wrp_holder > .player {
    position: relative;
    padding-bottom: 56.25%;
}

.main_vod > .branding {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    overflow: hidden;
    transform: translateX(-50%);
}

.main_vod > .branding > .inner .obj {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main_vod > .branding > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main_vod > .branding > .inner > .building1 {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/brand_building1.png);
    z-index: 1;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 29.64%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_vod > .branding > .inner > .building2 {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/brand_building2.png);
    z-index: 2;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 50.63%;
}

.main_vod > .branding > .inner > .cloud_1 {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/brand_cloud_1.png);
    z-index: 5;
    right: 27.92%;
    width: 72.08%;
    height: 0;
    padding-bottom: 45.78%;
}

.main_vod > .branding > .inner > .cloud_r {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/brand_cloud_r.png);
    z-index: 5;
    right: 27.92%;
    width: 72.08%;
    height: 0;
    padding-bottom: 45.78%;
}

.main_vod > .branding > .inner > .ci {
    bottom: calc(50% + 40px);
    left: 50%;
    width: 44.84%;
    height: 0;
    padding-bottom: 9.165%;
    font-size: 0;
    background-image: url(https://ssw0428.github.io/img1/pf/k2/brand_brand_ci.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    transform: translateX(-50%);
    border: 1px solid red;
}

.main_vod > .branding > .inner > .txt {
    z-index: 4;
    bottom: calc(50% - 4px);
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.5em;
}

/* 빨간 슬라이드 끝 */

/* footer 시작 */

/* footer-type-1 시작 */

.footer {
    position: relative;
    background-color: #333;
    padding-bottom: 42px;
}

.footer > .inner {
    max-width: 1200px;
    margin: 0 auto;
}

.footer > .inner > .footer-type-1 > ul > li {
    position: relative;
    line-height: 88px;
}

.footer > .inner > .footer-type-1 > ul > li:not(:first-child) {
    margin-left: 22px;
    padding-left: 23px;
}

.footer > .inner > .footer-type-1 > ul > li > a {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 700;
}

.footer > .inner > .footer-type-1 > ul > li > a:hover {
    border-bottom: 1px solid #b2b2b2;
}

.footer > .inner > .footer-type-1 > ul > li:nth-child(2) > a {
    color: white;
}

.footer > .inner > .footer-type-1 > ul > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 1px;
    margin-top: -8px;
    background-color: #5b5b5b;
    border-right: 1px solid #4d4d4d;
}
/* footer-type-1 끝 */

/* footer-type-2 시작 */

.footer > .inner > .footer-type-2 {
    position: relative;
    padding-left: 167px;
}

.footer > .inner > .footer-type-2 > h2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(https://ssw0428.github.io/img1/pf/k2/footer_ci.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 126px;
    height: 25px;
    font-size: 0;
}

.footer > .inner > .footer-type-2 > .address {
    font-size: 12px;
    line-height: 22px;
    color: #8c8c8c;
}
.footer > .inner > .footer-type-2 > .icon {
    position: absolute;
    top: 0;
    right: 0;
}
.footer > .inner > .footer-type-2 > .icon > .fb {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/sns_t.png);
    background-repeat: no-repeat;
    background-size: 300% auto;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
}

.footer > .inner > .footer-type-2 > .icon > .ig {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/sns_t.png);
    background-repeat: no-repeat;
    background-size: 300% auto;
    background-position: -40px -40px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    margin-left: 12px;
}

.footer > .inner > .footer-type-2 > .select {
    position: absolute;
    top: -65px;
    right: 0;
    width: 200px;
    height: 40px;
    border: 1px solid #b1b1b1;
}

.footer > .inner > .footer-type-2 > .select > .box > a {
    color: #b1b1b1;
    display: block;
    padding: 12px 0;
    padding-left: 20px;
    font-size: 12px;
}

.footer > .inner > .footer-type-2 > .select > .group-list {
    display: none;
}

/* footer 끝 */





/*
.main-tech > .inner > .bx-wrapper > .bx-viewport > .tech-slider {
    overflow: hidden;

}

.main-tech > .inner > .bx-wrapper > .bx-viewport > .tech-slider > .slide {
    height: 650px;
    overflow: hidden;
    outline: none;
    border: 0;
}

.main-tech > .inner > .bx-wrapper > .bx-viewport > .tech-slider > .tech4 > .bg {
    background-image: url(https://ssw0428.github.io/img1/pf/k2/tech1_p1.jpg);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #991522;
    background-position: center center;
    background-size: auto 100%;

}
*/
